venv/
__pycache__/
*.pyc
.env

# ML models (important!)
*.pkl
*.pt
*.h5

# PyInstaller / Build files
build/
dist/
*.spec

# Dynamic log files
static/client_training_log_*.json
static/metrics.json
static/training_log.txt
